.oneContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    cursor: pointer;
    // same height as parent
    height: 55px;
    width: 55px;
    & .not_IconCon{
        justify-self: center;
        align-self: center;
        height: 100%;
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        //--------------->
        //font-size: 25px;
        font-size: 0px;

        & svg{
            fill: green;
        }
    }

    & .not_count_wrapper{
        position: absolute;
        position: absolute;
        right: 6px;
        top: 4px;
        height: 18px;
        width: 18px;
        & p.not_count {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 0;
            width: 0;
            transform-origin: center center;
            font-size: 10px;    
            font-weight: 600;
            background: red;
            border-radius: 50%;
            
            color: #fff;
            opacity: 0;
            display: grid;
            justify-items: center;
            align-items: center;
        }
    }
}